#parent {
  display: flex;
}
#observed_img {
  width: 200px;
  background: lightblue;
  /* Just so it's visible */
}
#video {
  flex: 1;
  /* Grow to rest of container */
  background: lightgreen;
  /* Just so it's visible */
}